{{/*
=============================================================================
Dr. Habib ÇİL - FAQPage Schema Partial
Returns a dictionary for FAQPage schema if FAQ params exist in front matter.
=============================================================================
*/}}
{{ $schema := dict }}
{{ if .Params.faq }}
{{ $faqItems := .Params.faq }}
{{ if gt (len $faqItems) 0 }}
{{ $questions := slice }}
{{ range $faqItems }}
{{ $questions = $questions | append (dict
"@type" "Question"
"name" (.question | safeJS)
"acceptedAnswer" (dict "@type" "Answer" "text" (.answer | safeJS))
) }}
{{ end }}

{{ $schema = dict
"@type" "FAQPage"
"@id" (printf "%s#faq" .Permalink)
"name" (printf "%s - %s" .Title (cond (eq .Site.Language.Lang "tr") "Sık Sorulan Sorular" "Frequently Asked Questions"))
"url" .Permalink
"mainEntity" $questions
}}
{{ end }}
{{ end }}
{{ return $schema }}